<ul class="main-menu">
  <!-- Public routes -->
  <li *ngIf="!this.isLogged" routerLinkActive="selected">
    <a routerLink="/home">Home</a>
  </li>
  <li *ngIf="!this.isLogged" routerLinkActive="selected">
    <a routerLink="/login">Login</a>
  </li>
  <li *ngIf="!this.isLogged" routerLinkActive="selected">
    <a routerLink="/about">Acerca de</a>
  </li>

  <!-- Private routes -->
  <li *ngIf="this.isLogged" routerLinkActive="selected">
    <a routerLink="/dashboard">Dashboard</a>
  </li>
  <li *ngIf="this.isLogged" routerLinkActive="selected">
    <a routerLink="/gallery">Galería</a>
  </li>
  <li *ngIf="this.isLogged" routerLinkActive="selected">
    <a routerLink="/crud">CRUD</a>
  </li>
  <li *ngIf="this.isLogged" routerLinkActive="selected">
    <a routerLink="/profile">Profile</a>
  </li>
</ul>
