body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main-layout {
  display: flex;
}

.items-container {
  padding: 20px;
  width: 75%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.image-container {
  width: 300px;
  height: 150px;
  display: flex;
  justify-content: center;
}

.image-container > img {
  margin-top: 10px;
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.item-card {
  min-width: 270px;
  padding-left: 0;
}

.cart-container {
  width: 25%;
  padding-left: 20px;
}

.cart-title {
  font-size: 1.5rem;
  padding-right: 10px;
}

.cart-item-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
}

.cart-image-container {
  width: 15%;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0;
}

.cart-image-container > img {
  max-width: 100%;
  max-height: 35px;
  border-radius: 50%;
}

.cart-item-text {
  width: 70%;
  text-align: center;
}

@media only screen and (width <1450px) {
  .items-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (width <1100px) {
  .items-container {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  .cart-container {
    width: 30%;
  }
}

@media only screen and (width <1100px) {
  .items-container {
    width: 70%;
    grid-template-columns: 1fr 1fr;
  }
  .cart-container {
    width: 30%;
  }
}

@media only screen and (width <800px) {
  .items-container {
    width: 50%;
    grid-template-columns: 1fr;
  }
  .cart-container {
    width: 50%;
  }
}

@media only screen and (width <550px) {
  .main-layout {
    flex-direction: column;
  }

  .items-container {
    width: 100%;
    grid-template-columns: 1fr;
  }
  .cart-container {
    width: 100%;
  }
}
