<div *ngIf="!this.validLogin">
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
    <label for="username">User</label>
    <input
      name="username"
      ngModel
      type="email"
      email="true"
      required
      #name="ngModel"
    />
    <label for="password">Password</label>
    <input
      type="password"
      name="password"
      required
      ngModel
      #password="ngModel"
    />
    <button>Submit</button>
  </form>

  <div *ngIf="f.dirty" class="validations">
    <p *ngIf="!name.valid">The user name is invalid</p>
    <p *ngIf="!password.valid">The password is invalid</p>
  </div>
</div>
