@import "mixins";
@import "theme";

* {
  margin: 5;
  padding: 0;
  box-sizing: border-box;
  background-color: lighten(#efb9ad, 10%);
  font-family: $font-family;
}

header {
  & .toolbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    & input {
      width: 20vw;
      height: 30px;
      padding-left: 5px;
      background-color: $white-color;
    }
    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  & .page-title {
    background-color: $secondary-color;
    font-size: 1.5rem;
    color: $white-color;
    height: 8vh;
    @include header-common();
  }
}

.page-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

nav {
  background-color: $primary-color;
}

.menu-container {
  position: sticky;
  top: 0;
  & .menu-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $white-color;
    background-color: $primary-color;
    height: 35px;
    @include header-common();
    justify-content: center;
  }

  & ul {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  & ul > li {
    font-size: 1.1rem;
    padding-left: 10px;
    border: solid 0.75px gray;
    height: 35px;
    cursor: pointer;
    @include header-common();
  }
}

.list {
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 25px;
  column-gap: 25px;

  & .card {
    border: solid 1px gray;
    background-color: $white-color;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    & img {
      width: 50%;
      height: 50%;
      border-radius: 50%;
    }
    & div {
      padding: 10px;
      text-align: center;
      background-color: $white-color;
    }
    & * {
      margin: 0 auto;
    }
  }
}

footer {
  background-color: $third-color;
  height: 5vh;
  @include header-common();
}
