@import "mixins";
@import "theme";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: lighten($third-color, 10%);
  font-family: $font-family;
}

header {
  & .toolbar {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    & input {
      width: 20vw;
      height: 30px;
      padding-left: 5px;
      background-color: $white-color;
    }
    & div {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
  }

  & .page-title {
    background-color: $secondary-color;
    font-size: 1.5rem;
    color: $white-color;
    height: 8vh;
    @include header-common();
  }
}

.page-container {
  display: grid;
  grid-template-columns: 20% 80%;
}

nav {
  background-color: $primary-color;
}

.menu-container {
  position: sticky;
  top: 0;
  & .menu-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: $white-color;
    background-color: $primary-color;
    height: 35px;
    @include header-common();
    justify-content: center;
  }

  & ul {
    position: sticky;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  & ul > li {
    font-size: 1.1rem;
    padding-left: 10px;
    border: solid 0.75px gray;
    height: 35px;
    cursor: pointer;
    @include header-common();
  }
}

.list {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 25px;
  column-gap: 25px;

  & .card {
    border: solid 1px gray;
    background-color: $white-color;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    & img {
      width: 50%;
      max-height: 25vh;
      border-radius: 50%;
      object-fit: cover;
    }
    & div {
      padding: 10px;
      text-align: center;
      background-color: $white-color;
    }
    & * {
      margin: 0 auto;
    }
  }
}

footer {
  background-color: $third-color;
  height: 5vh;
  font-size: 0.8rem;
  @include header-common();
}

@media only screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 900px) {
  .list {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 1.25rem !important;
  }

  .toolbar {
    display: none !important;
  }

  .menu-title {
    display: none !important;
  }

  .page-container {
    grid-template-columns: 1fr;
  }

  nav {
    position: sticky;
    top: 0;
  }

  ul {
    display: block;
    padding: 10px;
    flex-direction: row !important;
    column-gap: 5px;
    background-color: $third-color;
  }

  li {
    width: 100%;
  }

  .list {
    grid-template-columns: 1fr;

    & .card {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      height: 20vh;
      & img {
        width: 20%;
        height: 15vh;
        border-radius: 50%;
      }
      & div {
        background-color: $white-color;
        text-align: left;
        @include header-common();
        padding-left: 0;
      }
      * {
        margin: 10px;
      }
    }
  }
}
