* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7ddd8;
  font-family: Verdana, Arial, sans-serif; }

header .toolbar {
  margin: 10px;
  display: flex;
  justify-content: space-between; }
  header .toolbar input {
    width: 20vw;
    height: 30px;
    padding-left: 5px;
    background-color: #ffffff; }
  header .toolbar div {
    display: flex;
    flex-direction: row;
    align-items: center; }

header .page-title {
  background-color: #bc0000;
  font-size: 1.5rem;
  color: #ffffff;
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; }

.page-container {
  display: grid;
  grid-template-columns: 20% 80%; }

nav {
  background-color: #680003; }

.menu-container {
  position: sticky;
  top: 0; }
  .menu-container .menu-title {
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #680003;
    height: 35px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    justify-content: center; }
  .menu-container ul {
    position: sticky;
    top: 0;
    margin-top: 0;
    display: flex;
    flex-direction: column; }
  .menu-container ul > li {
    font-size: 1.1rem;
    padding-left: 10px;
    border: solid 0.75px gray;
    height: 35px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px; }

.list {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  row-gap: 25px;
  column-gap: 25px; }
  .list .card {
    border: solid 1px gray;
    background-color: #ffffff;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .list .card img {
      width: 50%;
      max-height: 25vh;
      border-radius: 50%;
      object-fit: cover; }
    .list .card div {
      padding: 10px;
      text-align: center;
      background-color: #ffffff; }
    .list .card * {
      margin: 0 auto; }

footer {
  background-color: #efb9ad;
  height: 5vh;
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px; }

@media only screen and (max-width: 1024px) {
  .list {
    grid-template-columns: 1fr 1fr 1fr; } }

@media only screen and (max-width: 900px) {
  .list {
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 768px) {
  .page-title {
    font-size: 1.25rem !important; }
  .toolbar {
    display: none !important; }
  .menu-title {
    display: none !important; }
  .page-container {
    grid-template-columns: 1fr; }
  nav {
    position: sticky;
    top: 0; }
  ul {
    display: block;
    padding: 10px;
    flex-direction: row !important;
    column-gap: 5px;
    background-color: #efb9ad; }
  li {
    width: 100%; }
  .list {
    grid-template-columns: 1fr; }
    .list .card {
      flex-direction: row;
      justify-content: left;
      align-items: center;
      height: 20vh; }
      .list .card img {
        width: 20%;
        height: 15vh;
        border-radius: 50%; }
      .list .card div {
        background-color: #ffffff;
        text-align: left;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        padding-left: 0; }
      .list .card * {
        margin: 10px; } }
