@import "theme1";
@import "theme2";

.main {
  display: flex;
  justify-content: center;
  gap: 100px;
}

button {
  min-width: 15vw;
  display: block;
  height: 50px;
  margin-top: 10px;
  color: white;
  font-size: large;
  border-radius: 10px;

  &:hover {
    cursor: pointer;
  }
}

h3 {
  padding: 10px;
  display: flex;
  justify-content: center;
}

.box-with-shadow {
  margin-top: 40%;
}
